---
---
<div class="nav-links">
    <a href="/EllieCompBio">Home</a>
    <a href="/EllieCompBio/about">About</a>
    <a href="/EllieCompBio/research">Research</a>
    <a href="/EllieCompBio/blog">Blog</a>
</div>
